IETF RFCs

Which browsers use which specification?
E.g. Chrome 46 is compliant with RFC 7231 and transitively with RFC 3986, but not with RFC 2616 nor transitively with RFC 2396.

> Chrome 46 is compliant with [...] RFC 3986

<sup>[[citation needed](https://en.wikipedia.org/wiki/Wikipedia:Citation_needed)]</sup>

These days, web browsers (including Chrome) are trying to follow https://url.spec.whatwg.org , which might well be slightly incompatible with RFC 3986.